{% extends 'base.html.twig' %}

{% block title %}Edit Rayon{% endblock %}

{% block body %}
    <h1>Edit Rayon</h1>

    <p><img src="{{ asset(rayon.imageFile) }}" width="200px"/></p>

    {{ include('rayon/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('rayon_index') }}">back to list</a>

    {{ include('rayon/_delete_form.html.twig') }}

    {% if rayon.products.count > 0 %}
    <h5>Produits</h5>
    <ul>
    {% for product in rayon.products %}
        <li>{{ product.title }}: {{ product.price }}</li>
    {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
