{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
    <h1>{{ product.title|upper }}</h1>

    <a href="{{ path('rayon_public_index_catalogue') }}">Retour au catalogue</a>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Rayon</th>
                <td>{{ product.rayon.title }}</td>
            </tr> 
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
        </tbody>
    </table>



    {% if product.comments.count > 0 %}
    <h5>Ils ont dis:</h5>
    <ul>
    {% for comment in product.comments %}
    	<li>{{ comment.clientname }} a dit <q>{{ comment.text }}</q></li>
    {% endfor %}
    </ul>
    {% endif %}


{{ form_start(form, {'action': path('comment_new'), 'method': 'POST'}) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


{% endblock %}

