<div class="popularVotes" id="popularVotes-Product-{{ product.id }}">
 	<span  class="popularVotesOKThumbs">{% if not vote_disabled %}<a href="{{ path('product_vote', { 'id': product.id, 'verdict': 'OK'} )}}">{% endif %}&#128077;{% if not vote_disabled %}</a>{% endif %}</span> <span class="popularVotesOKCount">{{ product.PopularVotesOK }}</span>
        <span  class="popularVotesNOKThumbs">{% if not vote_disabled %}<a href="{{ path('product_vote', { 'id': product.id, 'verdict': 'NOK'} )}}">{% endif %}&#128078;{% if not vote_disabled %}</a>{% endif %}</span> <span class="popularVotesNOKCount">{{ product.PopularVotesNOK }}</span>
</div>
